.contents
  %section.user
    =link_to "#" do
      = fa_icon "user-circle", class:"icon"
      %h2.user__name
        テック エキスパート
      .user__number
        .user__number-comment
          評価
          %span.bold
            0
        .user__number-selled
          出品数
          %span.bold
            0
