=render partial: 'items/header'          
.mypage
  =render partial: 'users/left_navi'
  .contents
    .contents__signout-block
      %button.contents__signout-block__btn__red
        ログアウト
= render partial: 'items/footer'