.contents {
  width: calc( 100% - 280px);
  .profile {
    margin: 0;
    padding: 0;
    background-color: white;
    &__title {
      padding: 8px 24px;
      color: #333333;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
    &__form {
      margin: 0;
      padding: 0;
      background-repeat: no-repeat;
      &-name {
        background: image-url("user-bg.jpg");
        background-size: cover;
        height: 156px;
        justify-content: center;
        display: flex;
        align-items: center;
        img {
          width: 48px;
          border-radius: 50%;
          border:1px solid silver;
          margin-right: 5px;
        }
        input {
          height: 48px;
        }
      }
      &-content {
        padding: 30px 16px;
        textarea {
          width: 100%;
          min-height: 216px;
          margin-top: 0;
          margin-bottom: 0;
          max-width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          font-size: 16px;
          line-height: 1.5;
        }
      }
      &-btn {
        margin: 0 16px 40px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        width: 95%;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size:16px;
      }
    }
  }
}
