.header-secound{
  background-color: #f5f5f5;
  height: 128px;
  width: 100%;
  text-align: center;
  display: inline-flex;
  &__logo{
    width: 185px;
    height: 49px;
    margin: auto 0;
    margin-left: 250px;
    &__icon{
      width: 185px;
      height: 49px;
    }
  }
  &__signup-bar{
    padding: 40px 0 0 44px;
    &__stepber{
      height: 34px;
      display: flex;
      &--first{
        font-size: 14px;
        margin: 0 40px 0 0;
        position: relative;
        color: #888;
        z-index: 1;
        .bubble{
          width: 12px;
          height: 12px;
          background-color: #ccc;
          border-radius: 50%;
          margin: 8px auto 0;
        }
        span{
          position: absolute;
          top: 34px;
          display: block;
          width: 200%;
          height: 2px;
          content: '';
          background: #ccc;
          z-index: -1;
        }
      }
      &--secound{
        font-size: 14px;
        margin: 0 40px 0 0;
        position: relative;
        color: #888;
        z-index: 1;
        .bubble{
          width: 12px;
          height: 12px;
          background-color: #ccc;
          border-radius: 50%;
          margin: 8px auto 0;
        }
        span{
          position: absolute;
          top: 34px;
          display: block;
          width: 170%;
          height: 2px;
          content: '';
          background: #ccc;
          z-index: -1;
        }
      }  
      &--third{
        font-size: 14px;
        margin: 0 40px 0 0;
        position: relative;
        color: #888;
        z-index: 1;
        .bubble{
          width: 12px;
          height: 12px;
          background-color: #ccc;
          border-radius: 50%;
          margin: 8px auto 0;
        }
        span{
          position: absolute;
          top: 34px;
          display: block;
          width: 120%;
          height: 2px;
          content: '';
          background: #ccc;
          z-index: -1;
        }
      }
      &--forth{
        font-size: 14px;
        margin: 0 40px 0 0;
        position: relative;
        color: #888;
        z-index: 1;
        .bubble{
          width: 12px;
          height: 12px;
          background-color: #ccc;
          border-radius: 50%;
          margin: 8px auto 0;
        }
        span{
          position: absolute;
          top: 34px;
          display: block;
          width:130%;
          height: 2px;
          content: '';
          background: #ccc;
          z-index: -1;
        }
      }
      &--fifth{
        font-size: 14px;
        position: relative;
        z-index: 1;
        color: #888;
        .bubble{
          width: 12px;
          height: 12px;
          background-color: #ccc;
          border-radius: 50%;
          margin: 8px auto 0;
        }
      }
    }
  }
}

.main-secound{
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  text-align: center;
  &__block{
    background-color: #fff;
    width: 700px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    &__title{
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
      
    }
  }
  &__contents{
    background-color: #fff;
    width: 700px;
    display: table; 
    margin: auto;
    &__container{
      width: 343px;
      margin: 0 auto;
      &__block{
        float: left;
        margin-top: 30px;
        &__text{
          font-size: 14px;
          font-weight: 600;
          float: left;
          text-align: left;
        }
        &__comment{
          font-size: 14px;
          margin-left: 350px;
        }
        &__require{
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          background-color: #ea352d;
          float: left;
        }
        &__form{
          .input-place{
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            margin-top: 5px;
            width: 343px;
          }
        }
        &__title{
          font-weight: 600;
          float: left;
        }
        &__description{
          float: left;
          margin-top: 8px;
          text-align: left;
          font-size: 14px;
          color: #333333;
        }
        &__form-half{
          float: left;
          .input-place{
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            width: 160px;
            margin-top: 8px;
          }
        }
        &__form{
          display: flex;
          float: left;
          margin-top: 8px;
          &--select-boxs{
            .year,.month,.day{
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 11px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 1px;
              line-height: 1.5;
              cursor: pointer;
              width: 76px;
              -webkit-appearance: none;
            }
          }
          &--select-box{
            position: relative;
            &::before{
              display: block;
              content: "\f107";
              font-family: "FontAwesome";
              font-size: 30px;
              color: #888;
              position: absolute;
              right: 30px;
              top: 8px;
              font-weight: 900;
            }
            
            .prefectures{
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              width: 343px;
              -webkit-appearance: none;
            }

            .word{
              font-size: 14px;
              margin-right: 4px;
            }
          }
        }
        &__info{
          color: #888;
          font-size: 14px;
        }
        &__text-message{
          font-size: 14px;
          color: #333333;
          .link-blue{
            color: #0099e8;
            text-decoration: none;
          }
        }
        &__btn-next{
          height: 50px;
          // background-color: #ea352d;
          width: 343px;
          .link-white{
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            display: block;
            font-size: 14px;
            width: 100%;
            height: 100%;
            line-height: 50px;
            background-color: #ea352d
          }
        }
        &--information{
          width: 343px;
          text-align: right;
          margin-bottom: 100px;
          .link-blue{
            float: right;
            font-size: 14px;
            color: #0099e8;
            text-decoration: none;
          }
        }
        &__card{
          width: 343px;
          float: left;
          display: flex;
          margin-top: 8px;
          .card-image{
            margin-left: 8px;
          }
        }
        &__remarks-column{
        width: 343px;
        margin-top: 8px;
        float: left;
        position: relative;
        }
        &__authentication{
          border: 1px solid #d3d3d3;
          background-color: #f9f9f9;
          color: #000;
          height: 74px;
          width: 300px;
          position: relative;
          border-radius: 5px;
          &__white-box{
            border-radius: 2px;
            background-color: #fff;
            height: 28px;
            position: absolute;
            width: 28px;
            z-index: 1;
            border: 2px solid #c1c1c1;
            top: 20px;
            left: 15px;
          }
          &__text{
            left: 50px;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            width: 152px;
            position: absolute;
            top: 20px;
            text-align: left;
          }
          &__icon{
            margin: 10px 10px 0px 0px;
            float: right;
            width: 58px;
            &__image{
              background: url(https://www.gstatic.com/recaptcha/api2/logo_48.png);
              background-size: 32px;
              height: 32px;
              margin: 0 13px 0 13px;
              width: 32px;
            }
            &__name{
              font-size: 10px;
              margin-top: 5px;
              color: #555;
              font-family: Roboto,helvetica,arial,sans-serif;
            }
          }
          &__link-block{
            width: 276px;
            position: absolute;
            bottom: 0px;
            left: 100px;
            font-size: 10px;
            .link-gray{
              color: #555;
            }
          }
        }
      }
    }
  }
}
.red-color{
  background-color: #ea352d!important;
}
.red-color-text{
  color: #ea352d;
  font-weight: 600;
}

.bottom-space{
  padding-bottom: 70px;
  border-bottom: 1px solid #f5f5f5;
}
.link-return{
  color: #0099e8;
  margin-bottom: 8px;
  display: inline-block;
}
.small-text{
  float: left;
  font-size: 12px;
  text-align: left
}
.gray-color{
  background-color: #8885;
}
.harf-size{
  width: 131px!important;
}
.question-mark{
  color: #fff;
  background-color: #0099e8;
  float: left;
  position: absolute;
  font-size: 10px;
  padding: 0px 4px;
  border-radius: 50px;
  top: 3px;
  right: 154px;
}
.blue-color-text{
  color: #0099e8;
  font-size: 14px;
  text-align: right;
}
.link-white{
  color: #fff;
  text-decoration: none;
}
.arrow1{
  display: block;
  font-size: 25px;
  color: #888;
  position: absolute;
  right: 535px;
  top: 1093px;
  font-weight: 900;
}
.arrow2{
  display: block;
  font-size: 25px;
  color: #888;
  position: absolute;
  right: 637.5px;
  top: 1093px;
  font-weight: 900;

}
.arrow3{
  display: block;
  font-size: 25px;
  color: #888;
  position: absolute;
  right: 740px;
  top: 1093px;
  font-weight: 900;
}