%section.pickup__contents
  %h3.pickup__contents-title
    - @categories.each do |category|
      =link_to "#" do
        = "#{category.name}新着アイテム"
      .pickup__contents-items
        =render @items
      .pickup__contents-more
        =link_to "#" do
          すべての商品を見る
