%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      レディース新着アイテム
  .pickup__contents-items
    =render @items_lady
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る

%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      メンズ新着アイテム
  .pickup__contents-items
    =render @items_men
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る

%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      ベビー・キッズ新着アイテム
  .pickup__contents-items
    =render @items_baby
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る

%section.pickup__contents
  %h3.pickup__contents-title
    =link_to "#" do
      コスメ・香水・美容新着アイテム
  .pickup__contents-items
    =render @items_cos
  .pickup__contents-more
    =link_to "#" do
      すべての商品を見る
