%section.item-box
  =link_to "#" do
    %figure.item-box__image
      = image_tag src="https://static.mercdn.net/item/detail/orig/photos/m23772397908_1.jpg?1560688076"
    .item-box__body
      %h3.item-box__body-name ガイモ SENEKA ミュール プラットフォームサンダル 黒
      .item-box__body-num
        .item-box__body-num-price ¥ 6,500
        .item-box__body-num-like  
          = fa_icon "heart-o", class: "icon"
          %span 10
