- @search_item.page(@search_page).each do |search|
  .item-search-center_right_show-box
    =link_to "",item_path(search.id)
    = image_tag search.images[0].image.url
    .item-search-center_right_show-box-detail
      .item_name
        %h3 
          = search.name
      %p ¥#{search.price}