<div class="drag">
  <div class="drag_over">
    <div class="drag_center">
      <p>ドラッグアンドドロップ</p>
      <p>またはクリックしてファイルをアップロード</p>
    </div>
  </div>
  <input type="file" class="file">
  <div class="drag_over2">
    <div class="drag_center2">
      <p>ドラッグアンドドロップ</p>
      <p>またはクリックしてファイルをアップロード</p>
    </div>
  </div>
</div>
