.item
  .item_header
    .item_header_icon
      %a{href:"https://www.mercari.com/jp/"}
        = image_tag 'http://u0u0.net/QHiY',width:'180px',class:"mercari_icon"
  .item_main
    .item_main_center
      .item_main_center-cell1
        %h2 商品の情報を入力
      .item_main_center-cell2
        画像貼るところ
      .item_main_center-cell3
        .item_main_center-cell3-center
          .item_main_center-cell3-center_top
            %ul
              %li.left 商品名
              %li.right_hissu 必須
            %input{placeholder:"商品名（必須40文字まで）"}
          .item_main_center-cell3-center_bottom
            %ul
              %li.left 商品の説明
              %li.right_hissu 必須
            %textarea{rows:"5",placeholder:"商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}
      
      
      .item_main_center-cell4
        .item_main_center-cell4-left
          %h5 商品の詳細
        .item_main_center-cell4-right
          .item_main_center-cell4-right_select1.select1
            %ul
              %li.left カテゴリー
              %li.right_hissu 必須
            %select{class:"default"}
              %option{value:""}---
              %option{value:"1"}レディース
              %option{value:"3"}メンズ
              %option{value:"4"}ベビー・キッズ
              %option{value:"5"}インテリア・住まい・小物
              %option{value:"6"}本・音楽・ゲーム
              %option{value:"7"}おもちゃ・ホビー・グッズ
              %option{value:"8"}コスメ・香水・美容
              %option{value:"9"}家電・スマホ・カメラ 
              %option{value:"10"}スポーツ・レジャー 
              %option{value:"11"}ハンドレイド
              %option{value:"12"}チケット
              %option{value:"13"}自動車・オートバイ
              %option{value:"14"}その他              
            %i.fa.fa-chevron-down

          .item_main_center-cell4-right_select2.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トップス
              %option{value:"2"}ジャケット/アウター
              %option{value:"3"}パンツ
              %option{value:"4"}スカート
              %option{value:"5"}ワンピース
              %option{value:"6"}靴
              %option{value:"7"}ルームウェア/パジャマ
              %option{value:"8"}レッグウェア
              %option{value:"9"}帽子
              %option{value:"10"}バッグ
              %option{value:"11"}アクセサリー
              %option{value:"12"}ヘアアクセリー
              %option{value:"13"}小物
              %option{value:"14"}時計
              %option{value:"15"}ウィッグ/エクステ
              %option{value:"16"}浴衣/水着
              %option{value:"17"}スーツ/フォーマル/ドレス
              %option{value:"18"}マタニティ
              %option{value:"19"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トップス
              %option{value:"2"}ジャケット/アウター
              %option{value:"3"}パンツ
              %option{value:"4"}靴
              %option{value:"5"}バッグ
              %option{value:"6"}スーツ
              %option{value:"7"}帽子
              %option{value:"8"}アクセサリー
              %option{value:"9"}小物
              %option{value:"10"}時計
              %option{value:"11"}水着
              %option{value:"12"}レッグウェア
              %option{value:"13"}アンダーウェア
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ベビー服(女の子用)〜95cm
              %option{value:"2"}ベビー服(男の子用)〜95cm
              %option{value:"3"}ベビー服(男女兼用)〜95cm
              %option{value:"4"}キッズ服(女の子用)100cm〜
              %option{value:"5"}キッズ服(男の子用)100cm〜
              %option{value:"6"}キッズ服(男女兼用)100cm〜
              %option{value:"7"}キッズ靴
              %option{value:"8"}子ども用ファッション小物
              %option{value:"9"}おむつ/トイレ/バス
              %option{value:"10"}外出/移動用品
              %option{value:"11"}授乳/食事
              %option{value:"12"}ベビー家具/寝具/室内用品
              %option{value:"13"}おもちゃ
              %option{value:"14"}行事/記念品
              %option{value:"15"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}キッチン/食器
              %option{value:"2"}ベッド/マットレス
              %option{value:"3"}ソファ/ソファベッド
              %option{value:"4"}椅子/チェア
              %option{value:"5"}机/テーブル
              %option{value:"6"}収納家具
              %option{value:"7"}ラグ/カーペット/マット
              %option{value:"8"}カーテン/ブラインド
              %option{value:"9"}ライト/照明
              %option{value:"10"}寝具
              %option{value:"11"}インテリア小物
              %option{value:"12"}季節/年中行事
              %option{value:"13"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}本
              %option{value:"2"}漫画
              %option{value:"3"}雑誌
              %option{value:"4"}CD
              %option{value:"5"}DVD/ブルーレイ
              %option{value:"6"}レコード
              %option{value:"7"}テレビゲーム
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}おもちゃ
              %option{value:"2"}タレントグッズ
              %option{value:"3"}コミック/アニメ/グッズ
              %option{value:"4"}トレーディングカード
              %option{value:"5"}フィギュア
              %option{value:"6"}楽器/器材
              %option{value:"7"}コレクション
              %option{value:"8"}ミリタリー
              %option{value:"9"}芸術品
              %option{value:"10"}アート用品
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ベースメイク
              %option{value:"2"}メイクアップ
              %option{value:"3"}ネイルケア
              %option{value:"4"}香水
              %option{value:"5"}スキンケア/基礎化粧品
              %option{value:"6"}ヘアケア
              %option{value:"7"}ボディケア
              %option{value:"8"}オーラルケア
              %option{value:"9"}リラクゼーション
              %option{value:"10"}ダイエット
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}スマートフォン/携帯電話
              %option{value:"2"}スマホアクセサリー
              %option{value:"3"}PC/タブレット
              %option{value:"4"}カメラ
              %option{value:"5"}テレビ/映像機器
              %option{value:"6"}オーディオ機器
              %option{value:"7"}美容/健康
              %option{value:"8"}冷房機/空調
              %option{value:"9"}生活家電
              %option{value:"10"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ゴルフ
              %option{value:"2"}フィッシング
              %option{value:"3"}自転車
              %option{value:"4"}トレーニング/エクササイズ
              %option{value:"5"}野球
              %option{value:"6"}サッカー/フットサル
              %option{value:"7"}テニス
              %option{value:"8"}スノーボード
              %option{value:"9"}スキー
              %option{value:"10"}その他スポーツ
              %option{value:"11"}アウトドア
              %option{value:"12"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}アクセサリー（女性用）
              %option{value:"2"}フッション/小物
              %option{value:"3"}アクセサリー/時計
              %option{value:"4"}日用品/インテリア
              %option{value:"5"}趣味/おもちゃ
              %option{value:"6"}キッズ/ベビー
              %option{value:"7"}素材/材料
              %option{value:"8"}二次創作物
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}音楽
              %option{value:"2"}スポーツ
              %option{value:"3"}演劇/芸能
              %option{value:"4"}イベント
              %option{value:"5"}映画
              %option{value:"6"}施設利用券
              %option{value:"7"}優待券/割引券
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.12
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}自動車本体
              %option{value:"2"}自動車タイヤ/ホイール
              %option{value:"3"}自動車パーツ
              %option{value:"4"}自動車アクセサリー
              %option{value:"5"}オートバイ車体
              %option{value:"6"}オートバイパーツ
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select2.13
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}まとめ売り
              %option{value:"2"}ペット用品
              %option{value:"3"}食品
              %option{value:"4"}飲料/酒
              %option{value:"5"}日用品/生活雑貨/旅行
              %option{value:"6"}アンティーク/コレクション
              %option{value:"7"}文房具/事務用品
              %option{value:"8"}事務店/舗用品
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory

          .item_main_center-cell4-right_select3.1.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}Tシャツ/カットソー（半袖/袖なし）
              %option{value:"2"}Tシャツ/カットソー（七分/長袖）
              %option{value:"3"}シャツ/ブラウス（半袖/袖なし）
              %option{value:"4"}シャツ/ブラウス（七分/長袖）
              %option{value:"5"}ポロシャツ
              %option{value:"6"}キャミソール
              %option{value:"7"}タンクトップ
              %option{value:"8"}ホルターネック
              %option{value:"9"}ニット/セーター
              %option{value:"10"}チュニック
              %option{value:"11"}カーディガン/ボレロ
              %option{value:"12"}アンサンブル
              %option{value:"13"}ベスト/ジレ
              %option{value:"14"}パーカー
              %option{value:"15"}トレーナー/スウェット
              %option{value:"16"}ベアトップ/チューブトップ
              %option{value:"17"}ジャージ
              %option{value:"18"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}テーラードジャケット
              %option{value:"2"}ノーカラージャケット
              %option{value:"3"}Gジャン/デニムジャケット
              %option{value:"4"}レザージャケット
              %option{value:"5"}ダウンジャケット
              %option{value:"6"}ライダースジャケット
              %option{value:"7"}ミリタリージャケット
              %option{value:"8"}ダウンベスト
              %option{value:"9"}ジャンパー/ブルゾン
              %option{value:"10"}ポンチョ
              %option{value:"11"}ロングコート
              %option{value:"12"}トレンチコート
              %option{value:"13"}ダッフルコート
              %option{value:"14"}ピーコート
              %option{value:"15"}チェスターコート
              %option{value:"16"}モッズコート
              %option{value:"17"}スタジャン
              %option{value:"18"}毛皮/ファーコート
              %option{value:"19"}スプリングコート
              %option{value:"20"}スカジャン
              %option{value:"21"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}デニム/ジーンズ
              %option{value:"2"}ショートパンツ
              %option{value:"3"}カジュアルパンツ
              %option{value:"4"}ハーフパンツ
              %option{value:"5"}チノパン
              %option{value:"6"}ワークパンツ/カーゴパンツ
              %option{value:"7"}クロップドパンツ
              %option{value:"8"}サロペット/オーバーオール
              %option{value:"9"}オールインワン
              %option{value:"10"}サルエルパンツ
              %option{value:"11"}ガウチョパンツ
              %option{value:"12"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ミニスカート
              %option{value:"2"}ひざ丈スカート
              %option{value:"3"}ロングスカート
              %option{value:"4"}キュロット
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ミニワンピース
              %option{value:"2"}ひざ丈ワンピース
              %option{value:"3"}ロングワンピース
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ハイヒール/パンプス
              %option{value:"2"}ブーツ
              %option{value:"3"}サンダル
              %option{value:"4"}スニーカー
              %option{value:"5"}ミュール
              %option{value:"6"}モカシン
              %option{value:"7"}ローファー/革靴
              %option{value:"8"}フラットシューズ/バレーシューズ
              %option{value:"9"}長靴/レインシューズ
              %option{value:"10"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}パジャマ
              %option{value:"2"}ルームウェア
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ソックス
              %option{value:"2"}スパッツ/レギンス
              %option{value:"3"}ストッキング/タイツ
              %option{value:"4"}レッグウォーマー
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ニットキャップ/ビーニー
              %option{value:"2"}ハット
              %option{value:"3"}ハンチング/ベレー帽
              %option{value:"4"}キャップ
              %option{value:"5"}キャスケット
              %option{value:"6"}麦わら帽子
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ハンドバッグ
              %option{value:"2"}トートバッグ
              %option{value:"3"}エコバッグ
              %option{value:"4"}リュック/バックパック
              %option{value:"5"}ボストンバッグ
              %option{value:"6"}スポーツバッグ
              %option{value:"7"}ショルダーバッグ
              %option{value:"8"}クラッチバッグ
              %option{value:"9"}ポーチ/バニティ
              %option{value:"10"}ボディバッグ/ウェストバッグ
              %option{value:"11"}マザーズバッグ
              %option{value:"12"}メッセンジャーバッグ
              %option{value:"13"}ビジネスバッグ
              %option{value:"14"}旅行用バッグ/キャリーバッグ
              %option{value:"15"}ショップ袋
              %option{value:"16"}和装用バッグ
              %option{value:"17"}かごバッグ
              %option{value:"18"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ネックレス
              %option{value:"2"}ブレスレット
              %option{value:"3"}バングル/リストバンド
              %option{value:"4"}リング
              %option{value:"5"}ピアス（片耳用）
              %option{value:"6"}ピアス（両耳用）
              %option{value:"7"}イヤリング
              %option{value:"8"}アンクレット
              %option{value:"9"}ブローチ/コサージュ
              %option{value:"10"}チャーム
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.12
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ヘアゴム/シュシュ
              %option{value:"2"}ヘアバンド/カチューシャ
              %option{value:"3"}ヘアピン
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.13
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}長財布
              %option{value:"2"}折り財布
              %option{value:"3"}コインケース/小銭入れ
              %option{value:"4"}名刺入れ/定期入れ
              %option{value:"5"}キーケース
              %option{value:"6"}キーホルダー
              %option{value:"7"}手袋/アームカバー
              %option{value:"8"}ハンカチ
              %option{value:"9"}ベルト
              %option{value:"10"}マフラー/ショール
              %option{value:"11"}ストール/スヌード
              %option{value:"12"}バンダナ/スカーフ
              %option{value:"13"}ネックウォーマー
              %option{value:"14"}サスペンダー
              %option{value:"15"}サングラス/メガネ
              %option{value:"16"}モバイルケース/カバー
              %option{value:"17"}手帳
              %option{value:"18"}イヤマフラー
              %option{value:"19"}傘
              %option{value:"20"}レインコート/ポンチョ
              %option{value:"21"}ミラー
              %option{value:"22"}タバコグッズ
              %option{value:"23"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.14
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}腕時計（アナログ）
              %option{value:"2"}腕時計（デジタル）
              %option{value:"3"}ラバーベルト
              %option{value:"4"}レザーベルト
              %option{value:"5"}金属ベルト
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.15
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}前髪ウィッグ
              %option{value:"2"}ロングストレート
              %option{value:"3"}ロングカール
              %option{value:"4"}ショートストレート
              %option{value:"5"}ショートカール
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.16
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}浴衣
              %option{value:"2"}着物
              %option{value:"3"}振袖
              %option{value:"4"}長襦袢/半襦袢
              %option{value:"5"}水着セパレート
              %option{value:"6"}水着ワンピース
              %option{value:"7"}水着スポーツ用
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.17
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}スカートスーツ上下
              %option{value:"2"}パンツスーツ上下
              %option{value:"3"}ドレス
              %option{value:"4"}パーティバッグ
              %option{value:"5"}シューズ
              %option{value:"6"}ウェディング
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.18
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トップス
              %option{value:"2"}アウター
              %option{value:"3"}インナー
              %option{value:"4"}ワンピース
              %option{value:"5"}パンツ/スパッツ
              %option{value:"6"}スカート
              %option{value:"7"}パジャマ
              %option{value:"8"}授乳服
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.1.19
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}コスプレ
              %option{value:"2"}下着
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}Tシャツ/カットソー（半袖/袖なし）
              %option{value:"2"}Tシャツ/カットソー（七分/長袖）
              %option{value:"3"}シャツ
              %option{value:"4"}ポロシャツ
              %option{value:"5"}タンクトップ
              %option{value:"6"}ニット/セーター
              %option{value:"7"}パーカー
              %option{value:"8"}カーディガン
              %option{value:"9"}スウェット
              %option{value:"10"}ジャージ
              %option{value:"11"}ベスト
              %option{value:"12"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}テーラードジャケット
              %option{value:"2"}ノーカラージャケット
              %option{value:"3"}Gジャン/デニムジャケット
              %option{value:"4"}レザージャケット
              %option{value:"5"}ダウンジャケット
              %option{value:"6"}ライダースジャケット
              %option{value:"7"}ミリタリージャケット
              %option{value:"8"}ナイロンジャケット
              %option{value:"9"}フライトジャケット
              %option{value:"10"}ダッフルコート
              %option{value:"11"}ピーコート
              %option{value:"12"}ステンカラーコート
              %option{value:"13"}トレンチコート
              %option{value:"14"}モッズコート
              %option{value:"15"}チェスターコート
              %option{value:"16"}スタジャン
              %option{value:"17"}スカジャン
              %option{value:"18"}ブルゾン
              %option{value:"19"}マウンテンパーカー
              %option{value:"20"}ダウンベスト
              %option{value:"21"}ポンチョ
              %option{value:"22"}カバーオール
              %option{value:"23"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}デニム/ジーンズ
              %option{value:"2"}ワークパンツ/カーゴパンツ
              %option{value:"3"}スラックス
              %option{value:"4"}チノパン
              %option{value:"5"}ショートパンツ
              %option{value:"6"}ペインターパンツ
              %option{value:"7"}サルエルパンツ
              %option{value:"8"}オーバーオール
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}スニーカー
              %option{value:"2"}サンダル
              %option{value:"3"}ブーツ
              %option{value:"4"}モカシン
              %option{value:"5"}ドレス/ビジネス
              %option{value:"6"}長靴/レインシューズ
              %option{value:"7"}デッキシューズ
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ショルダーバッグ
              %option{value:"2"}トートバッグ
              %option{value:"3"}ボストンバッグ
              %option{value:"4"}リュック/バッグパック
              %option{value:"5"}ウエストポーチ
              %option{value:"6"}ボディーバッグ
              %option{value:"7"}ドラムバッグ
              %option{value:"8"}ビジネスバッグ
              %option{value:"9"}トラベルバッグ
              %option{value:"10"}メッセンジャーバッグ
              %option{value:"11"}エコバッグ
              %option{value:"12"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}スーツジャケット
              %option{value:"2"}スーツバスト
              %option{value:"3"}スラックス
              %option{value:"4"}セットアップ
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}キャップ
              %option{value:"2"}ハット
              %option{value:"3"}ニットキャップ/ビーニー
              %option{value:"4"}ハンチング/ベレー帽
              %option{value:"5"}キャスケット
              %option{value:"6"}サンバイザー
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ネックレス
              %option{value:"2"}ブレスレット
              %option{value:"3"}バングル/リストバンド
              %option{value:"4"}リング
              %option{value:"5"}ピアス（片耳用）
              %option{value:"6"}ピアス（両耳用）
              %option{value:"7"}アンクレット
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}長財布
              %option{value:"2"}折り財布
              %option{value:"3"}マネークリップ
              %option{value:"4"}コインケース/小銭入れ
              %option{value:"5"}名刺入/れ定期入れ
              %option{value:"6"}キーケース
              %option{value:"7"}キーホルダー
              %option{value:"8"}ネクタイ
              %option{value:"9"}手袋
              %option{value:"10"}ハンカチ
              %option{value:"11"}ベルト
              %option{value:"12"}マフラー
              %option{value:"13"}ストール
              %option{value:"14"}バンダナ
              %option{value:"15"}ネックウォーマー
              %option{value:"16"}サスペンダー
              %option{value:"17"}ウォレットチェーン
              %option{value:"18"}サングラス/メガネ
              %option{value:"19"}モバイルケース/カバー
              %option{value:"20"}手帳
              %option{value:"21"}ストラップ
              %option{value:"22"}ネクタイピン
              %option{value:"23"}カフリンクス
              %option{value:"24"}イヤマフラー
              %option{value:"25"}傘
              %option{value:"26"}レインコート
              %option{value:"27"}ミラー
              %option{value:"28"}タバコグッズ
              %option{value:"29"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}腕時計（アナログ）
              %option{value:"2"}腕時計（デジタル）
              %option{value:"3"}ラバーベルト
              %option{value:"4"}レザーベルト
              %option{value:"5"}金属ベルト
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}一般水着
              %option{value:"2"}スポーツ用
              %option{value:"3"}アクセサリー
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.12
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ソックス
              %option{value:"2"}レギンス/スパッツ
              %option{value:"3"}レッグウォーマー
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.2.13
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トランクス
              %option{value:"2"}ボクサーパンツ
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トップス
              %option{value:"2"}アウター
              %option{value:"3"}パンツ
              %option{value:"4"}スカート
              %option{value:"5"}ワンピース
              %option{value:"6"}ベビードレス
              %option{value:"7"}おくるみ
              %option{value:"8"}下着/肌着
              %option{value:"9"}パジャマ
              %option{value:"10"}ロンバーす
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.2.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トップス
              %option{value:"2"}アウター
              %option{value:"3"}パンツ
              %option{value:"4"}おくるみ
              %option{value:"5"}下着/肌着
              %option{value:"6"}パジャマ
              %option{value:"7"}ロンパース
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}コート
              %option{value:"2"}ジャケット/上着
              %option{value:"3"}トップス（Tシャツ/カットソー）
              %option{value:"4"}トップス（トレーナー）
              %option{value:"5"}トップス（チュニック）
              %option{value:"6"}トップス（タンクトップ）
              %option{value:"7"}トップス（その他）
              %option{value:"8"}スカート
              %option{value:"9"}パンツ
              %option{value:"10"}ワンピース
              %option{value:"11"}セットアップ
              %option{value:"12"}パジャマ
              %option{value:"13"}フォーマル/ドレス
              %option{value:"14"}和服
              %option{value:"15"}浴衣
              %option{value:"16"}甚平
              %option{value:"17"}水着
              %option{value:"18"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}コート
              %option{value:"2"}ジャケット/上着
              %option{value:"3"}トップス（Tシャツ/カットソー）
              %option{value:"4"}トップス（トレーナー）
              %option{value:"5"}トップス（その他）
              %option{value:"6"}パンツ
              %option{value:"7"}セットアップ
              %option{value:"8"}パジャマ
              %option{value:"9"}フォーマル/ドレス
              %option{value:"10"}和服
              %option{value:"11"}浴衣
              %option{value:"12"}甚平
              %option{value:"13"}水着
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}コート
              %option{value:"2"}ジャケット/上着
              %option{value:"3"}トップス（Tシャツ/カットソー）
              %option{value:"4"}トップス（トレーナー）
              %option{value:"5"}トップス（その他）
              %option{value:"6"}ボトムス
              %option{value:"7"}パジャマ
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}スニーカー
              %option{value:"2"}サンダル
              %option{value:"3"}ブーツ
              %option{value:"4"}長靴
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}靴下/スパッツ
              %option{value:"2"}帽子
              %option{value:"3"}エプロン
              %option{value:"4"}サスペンダー
              %option{value:"5"}タイツ
              %option{value:"6"}ハンカチ
              %option{value:"7"}バンダナ
              %option{value:"8"}ベルト
              %option{value:"9"}マフラー
              %option{value:"10"}傘
              %option{value:"11"}手袋
              %option{value:"12"}スタイ
              %option{value:"13"}バッグ
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}おむつ用品
              %option{value:"2"}おまる/補助便座
              %option{value:"3"}トレーニングパンツ
              %option{value:"4"}ベビーバス
              %option{value:"5"}お風呂用品
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ベビーカー
              %option{value:"2"}抱っこひも/スリング
              %option{value:"3"}チャイルドシート
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ミルク
              %option{value:"2"}ベビーフード
              %option{value:"3"}ベビー用食器
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.12
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ベッド
              %option{value:"2"}布団/毛布
              %option{value:"3"}イス
              %option{value:"4"}たんす
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.13
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}おふろのおもちゃ
              %option{value:"2"}がらがら
              %option{value:"3"}オルゴール
              %option{value:"4"}ベビージム
              %option{value:"5"}手押し車/カタカタ
              %option{value:"6"}知育玩具
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.14
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}お宮参り用品
              %option{value:"2"}お食い初め用品
              %option{value:"3"}アルバム
              %option{value:"4"}手形/足形
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.3.15
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}母子手帳用品
              %option{value:"2"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}食器
              %option{value:"2"}調理器具
              %option{value:"3"}収納/キッチン雑貨
              %option{value:"4"}弁当用品
              %option{value:"5"}カトラリー（スプーン等）
              %option{value:"6"}テーブル用品
              %option{value:"7"}容器
              %option{value:"8"}エプロン
              %option{value:"9"}アルコールグッズ
              %option{value:"10"}浄水器
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}セミシングルベッド
              %option{value:"2"}シングルベッド
              %option{value:"3"}セミダブルベッド
              %option{value:"4"}ダブルベッド
              %option{value:"5"}ワイドダブルベッド
              %option{value:"6"}クイーンベッド
              %option{value:"7"}キングベッド
              %option{value:"8"}脚付きマットレスベッド
              %option{value:"9"}マットレス
              %option{value:"10"}すのこベッド
              %option{value:"11"}ロフトベッド/システムベッド
              %option{value:"12"}簡易ベッド/折りたたみベッド
              %option{value:"13"}収納付き
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ソファセット
              %option{value:"2"}シングルソファ
              %option{value:"3"}ラブソファ
              %option{value:"4"}トリプルソファ
              %option{value:"5"}オットマン
              %option{value:"6"}コーナーソファ
              %option{value:"7"}ビーズソファ/クッションソファ
              %option{value:"8"}ローソファ/フロアソファ
              %option{value:"9"}ソファベッド
              %option{value:"10"}応接ベッド
              %option{value:"11"}ソファカバー
              %option{value:"12"}リクライニングソファ
              %option{value:"13"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}一般
              %option{value:"2"}スツール
              %option{value:"3"}ダイニングチェア
              %option{value:"4"}ハイバッグチェア
              %option{value:"5"}ロッキングチェア
              %option{value:"6"}座椅子
              %option{value:"7"}折り畳み椅子
              %option{value:"8"}デスクチェア
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}こたつ
              %option{value:"2"}カウンターテーブル
              %option{value:"3"}サイドテーブル
              %option{value:"4"}センターテーブル
              %option{value:"4"}ダイニングテーブル
              %option{value:"4"}座卓/ちゃぶ台
              %option{value:"4"}アウトドア用
              %option{value:"4"}パソコン用
              %option{value:"4"}事務机/学習机
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}リビング収納
              %option{value:"2"}キッチン収納
              %option{value:"3"}玄関/屋外収納
              %option{value:"4"}バス/トイレ収納
              %option{value:"5"}本収納
              %option{value:"6"}本/CD/DVD収納
              %option{value:"7"}洋服タンス/押入れ収納
              %option{value:"8"}電話台/ファックス台
              %option{value:"9"}ドレッサー/鏡台
              %option{value:"10"}棚/ラック
              %option{value:"11"}ケース/ボックス
              %option{value:"12"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ラグ
              %option{value:"2"}カーペット
              %option{value:"3"}ホットカーペット
              %option{value:"4"}玄関/キッチンマット
              %option{value:"4"}トイレ/バスマット
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}カーテン
              %option{value:"2"}ブラインド
              %option{value:"3"}ロールスクリーン
              %option{value:"4"}のれん
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}蛍光灯/電球
              %option{value:"2"}天井照明
              %option{value:"3"}フロアスタンド
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}布団/毛布
              %option{value:"2"}枕
              %option{value:"3"}シーツ/カバー
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ごみ箱
              %option{value:"2"}ウェルカムボード
              %option{value:"3"}オルゴール
              %option{value:"4"}クッション
              %option{value:"5"}クッションカバー
              %option{value:"6"}スリッパラック
              %option{value:"7"}ティッシュボックス
              %option{value:"8"}バスケット/かご
              %option{value:"9"}フォトフレーム
              %option{value:"10"}マガジンラック
              %option{value:"11"}モビール
              %option{value:"12"}花瓶
              %option{value:"13"}灰皿
              %option{value:"14"}傘立て
              %option{value:"15"}小物入れ
              %option{value:"16"}置時計
              %option{value:"17"}掛時計/柱時計
              %option{value:"18"}鏡（立て掛け式）
              %option{value:"19"}鏡（壁掛け式）
              %option{value:"20"}置物
              %option{value:"21"}風鈴
              %option{value:"22"}植物/観葉植物
              %option{value:"23"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.4.12
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}正月
              %option{value:"2"}成人式
              %option{value:"3"}バレンタインデー
              %option{value:"4"}ひな祭り
              %option{value:"5"}こどもの日
              %option{value:"6"}母の日
              %option{value:"7"}父の日
              %option{value:"8"}サマーギフト/お中元
              %option{value:"9"}夏/夏休み
              %option{value:"10"}ハロウィン
              %option{value:"11"}敬老の日
              %option{value:"12"}七五三
              %option{value:"13"}お歳暮
              %option{value:"14"}クリスマス
              %option{value:"15"}冬一般
              %option{value:"16"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.5.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}文学/小説
              %option{value:"2"}人文/社会
              %option{value:"3"}ノンフィクション/教養
              %option{value:"4"}地図/旅行ガイド
              %option{value:"5"}ビジネス/経済
              %option{value:"6"}健康/医学
              %option{value:"7"}コンピュータ/IT
              %option{value:"8"}趣味/スポーツ/実用
              %option{value:"9"}住まい/暮らし/子育て
              %option{value:"10"}アート/エンタメ
              %option{value:"11"}洋書
              %option{value:"12"}絵本
              %option{value:"13"}参考書
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.5.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}全巻セット
              %option{value:"2"}少年漫画
              %option{value:"3"}少女漫画
              %option{value:"4"}青年漫画
              %option{value:"5"}女性漫画
              %option{value:"6"}同人誌
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.5.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}アート/エンタメ/ホビー
              %option{value:"2"}ファッション
              %option{value:"3"}ニュース/総合
              %option{value:"4"}趣味/スポーツ
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.5.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}邦楽
              %option{value:"2"}洋楽
              %option{value:"3"}アニメ
              %option{value:"4"}クラシック
              %option{value:"5"}K-POP/アジア
              %option{value:"6"}キッズ/ファミリー
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.5.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}外国映画
              %option{value:"2"}日本映画
              %option{value:"3"}アニメ
              %option{value:"4"}TVドラマ
              %option{value:"5"}ミュージック
              %option{value:"6"}お笑い/バラエティ
              %option{value:"7"}スポーツ/フィットネス
              %option{value:"8"}キッズ/ファミリー
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.5.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}邦楽
              %option{value:"2"}洋楽
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.5.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}家庭用ゲーム本体
              %option{value:"2"}家庭用ゲームソフト
              %option{value:"3"}携帯用ゲーム本体
              %option{value:"4"}携帯用ゲームソフト
              %option{value:"5"}PCゲーム
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}キャラクターグッズ
              %option{value:"2"}ぬいぐるみ
              %option{value:"3"}小物/アクセサリー
              %option{value:"4"}模型/プラモデル
              %option{value:"5"}ミニカー
              %option{value:"6"}トイラジコン
              %option{value:"7"}プラモデル
              %option{value:"8"}ホビーラジコン
              %option{value:"9"}鉄道模型
              %option{value:"10"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}アイドル
              %option{value:"2"}ミュージシャン
              %option{value:"3"}タレント/お笑い芸人
              %option{value:"4"}スポーツ選手
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ストラップ
              %option{value:"2"}キーホルダー
              %option{value:"3"}バッジ
              %option{value:"4"}カード
              %option{value:"5"}クリアファイル
              %option{value:"6"}ポスター
              %option{value:"7"}タオル
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}遊戯王
              %option{value:"2"}マジック・ザ・ギャザリン
              %option{value:"3"}ポケモンカードゲーム
              %option{value:"4"}デュエルマスターズ
              %option{value:"5"}バトルスピリッツ
              %option{value:"6"}プリパラ
              %option{value:"7"}アイカツ
              %option{value:"8"}カードファイト！！ヴァンガード
              %option{value:"9"}ヴァイスシュヴァルツ
              %option{value:"10"}プロ野球オーナーズリーグ
              %option{value:"11"}ベースボールヒーローズ
              %option{value:"12"}ドラゴンボール
              %option{value:"13"}スリーブ
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}コミック/アニメ
              %option{value:"2"}特撮
              %option{value:"3"}ゲームキャラクター
              %option{value:"4"}SF/ファンタジー/ホラー
              %option{value:"5"}アメコミ
              %option{value:"6"}スポーツ
              %option{value:"7"}ミリタリー
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}エレキギター
              %option{value:"2"}アコースティックギター
              %option{value:"3"}ベース
              %option{value:"4"}エフェクター
              %option{value:"5"}アンプ
              %option{value:"6"}弦楽器
              %option{value:"7"}管楽器
              %option{value:"8"}鍵盤楽器
              %option{value:"9"}打楽器
              %option{value:"10"}和楽器
              %option{value:"11"}楽譜/スコア
              %option{value:"12"}レコーディング/PA機器
              %option{value:"13"}DJ機器
              %option{value:"14"}DTM/DAW
              %option{value:"15"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}武具
              %option{value:"2"}使用済切手/官製はがき
              %option{value:"3"}旧貨幣/金貨/銀貨/記念硬貨
              %option{value:"4"}印刷物
              %option{value:"5"}ノベルティグッズ
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トイガン
              %option{value:"2"}個人装備
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}陶芸
              %option{value:"2"}ガラス
              %option{value:"3"}漆芸
              %option{value:"4"}金属工芸
              %option{value:"5"}絵画/タペストリ
              %option{value:"6"}版画
              %option{value:"7"}彫刻/オブジェクト
              %option{value:"8"}書
              %option{value:"9"}写真
              %option{value:"10"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}画材
              %option{value:"2"}額縁
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.6.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}トランプ/UNO
              %option{value:"2"}かるた/百人一首
              %option{value:"3"}ダーツ
              %option{value:"4"}ビリヤード
              %option{value:"5"}麻雀
              %option{value:"6"}パズル/ジグソーパズル
              %option{value:"7"}囲碁/将棋
              %option{value:"8"}オセロ/チェス
              %option{value:"9"}人生ゲーム
              %option{value:"10"}野球/サッカーゲーム
              %option{value:"11"}スポーツ
              %option{value:"12"}三輪車/乗り物
              %option{value:"13"}ヨーヨー
              %option{value:"14"}模型製作用品
              %option{value:"15"}鉄道
              %option{value:"16"}航空機
              %option{value:"17"}アマチュア無線
              %option{value:"18"}パチンコ/パチスロ
              %option{value:"19"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ファンデーション
              %option{value:"2"}化粧下地
              %option{value:"3"}コントロールカラー
              %option{value:"4"}BBクリーム
              %option{value:"5"}CCクリーム
              %option{value:"6"}コンシーラー
              %option{value:"7"}フェイスパウダー
              %option{value:"8"}トライアルセット/サンプル
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}アイシャドウ
              %option{value:"2"}口紅
              %option{value:"3"}リップグロス
              %option{value:"4"}リップライナー
              %option{value:"5"}チーク
              %option{value:"6"}フェイスカラー
              %option{value:"7"}マスカラ
              %option{value:"8"}アイライナー
              %option{value:"9"}つけまつげ
              %option{value:"10"}アイブロウペンシル
              %option{value:"11"}パウダーアイブロウ
              %option{value:"12"}眉マスカラ
              %option{value:"13"}トライアルセットサンプル
              %option{value:"14"}メイク道具化粧小物
              %option{value:"15"}美顔洋品美顔ローラー
              %option{value:"16"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ネイルカラー
              %option{value:"2"}カラージェル
              %option{value:"3"}ネイルベースコート/トップコート
              %option{value:"4"}ネイルアート洋品
              %option{value:"5"}ネイルパーツ
              %option{value:"6"}ネイルチップ/付け爪
              %option{value:"7"}手入れ用具
              %option{value:"8"}除光液
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}香水（女性用）
              %option{value:"2"}香水（男性用）
              %option{value:"3"}ユニセックス
              %option{value:"4"}ボディミスト
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}化粧水/ローション
              %option{value:"2"}乳液/ミルク
              %option{value:"3"}美容液
              %option{value:"4"}フェイスクリーム
              %option{value:"5"}洗顔料
              %option{value:"6"}クレンジング/メイク落とし
              %option{value:"7"}パック/フェイスマスク
              %option{value:"8"}ジェル/ゲル
              %option{value:"9"}ブースター/導入液
              %option{value:"10"}アイケア
              %option{value:"11"}リップケア
              %option{value:"12"}トライアルセット/サンプル
              %option{value:"13"}洗顔グッズ
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}シャンプー
              %option{value:"2"}トリートメント
              %option{value:"3"}コンディショナー
              %option{value:"4"}リンス
              %option{value:"5"}スタイリング剤
              %option{value:"6"}カラーリング剤
              %option{value:"7"}ブラシ
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}オイル/クリーム
              %option{value:"2"}ハンドクリーム
              %option{value:"3"}ローション
              %option{value:"4"}日焼け止め/サンオイル
              %option{value:"5"}ボディソープ
              %option{value:"6"}入浴剤
              %option{value:"7"}制汗/デオドランド
              %option{value:"8"}フットケア
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}口臭防止/エチケット用品
              %option{value:"2"}歯ブラシ
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}エッセンシャルオイル
              %option{value:"2"}芳香剤
              %option{value:"3"}お香/香炉
              %option{value:"4"}キャンドル
              %option{value:"5"}リラクゼーショングッズ
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ダイエット食品
              %option{value:"2"}エクササイズ用品
              %option{value:"3"}体重計
              %option{value:"4"}体脂肪計
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.7.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}健康用品
              %option{value:"2"}看護/介護用品
              %option{value:"3"}救急/衛生用品
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}スマートフォン本体
              %option{value:"2"}バッテリー/充電器
              %option{value:"3"}携帯電話本体
              %option{value:"4"}PHS本体
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}Android用ケース
              %option{value:"2"}iPhone用ケース
              %option{value:"3"}カバー
              %option{value:"4"}イヤホンジャック
              %option{value:"5"}ストラップ
              %option{value:"6"}フィルム
              %option{value:"7"}自撮り棒
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}タブレット
              %option{value:"2"}ノートPC
              %option{value:"3"}デスクトップ型PC
              %option{value:"4"}ディスプレイ
              %option{value:"5"}電子ブックリーダー
              %option{value:"6"}PC周辺機器
              %option{value:"7"}PCパーツ
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}デジタルカメラ
              %option{value:"2"}ビデオカメラ
              %option{value:"3"}レンズ（単焦点）
              %option{value:"4"}レンズ（ズーム）
              %option{value:"5"}フィルムカメラ
              %option{value:"6"}防犯カメラ
              %option{value:"7"}その他    
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}テレビ
              %option{value:"2"}プロジェクター
              %option{value:"3"}ブルーレイレコーダー
              %option{value:"4"}DVDレコーダー
              %option{value:"5"}ブルーレイプレーヤー
              %option{value:"6"}DVDプレーヤー
              %option{value:"7"}映像用ケーブル
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ポータブルプレーヤー
              %option{value:"2"}イヤフォン
              %option{value:"3"}ヘッドフォン
              %option{value:"4"}アンプ
              %option{value:"5"}スピーカー
              %option{value:"6"}ケーブル/シールド
              %option{value:"7"}ラジオ
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ヘアドライヤー
              %option{value:"2"}ヘアアイロン
              %option{value:"3"}美容機器
              %option{value:"4"}電気シェーバー
              %option{value:"5"}電動歯ブラシ
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}エアコン
              %option{value:"2"}空気清浄機
              %option{value:"3"}加湿器
              %option{value:"4"}扇風機
              %option{value:"5"}除湿機
              %option{value:"6"}ファンヒーター
              %option{value:"7"}電気ヒーター
              %option{value:"8"}オイルヒーター
              %option{value:"9"}ストーブ
              %option{value:"10"}ホットカーペット
              %option{value:"11"}こたつ
              %option{value:"12"}電気毛布
              %option{value:"13"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}冷蔵庫
              %option{value:"2"}洗濯機
              %option{value:"3"}炊飯器
              %option{value:"4"}電子レンジ/オーブン
              %option{value:"5"}調理機器
              %option{value:"6"}アイロン
              %option{value:"7"}掃除機
              %option{value:"8"}エスプレッソマシン
              %option{value:"9"}コーヒーメーカー
              %option{value:"10"}衣類乾燥機
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.8.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}クラブ
              %option{value:"2"}ウエア（男性用）
              %option{value:"3"}ウエア（女性用）
              %option{value:"4"}バッグ
              %option{value:"5"}シューズ（男性用）
              %option{value:"6"}シューズ（女性用）
              %option{value:"7"}アクセサリー
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ロッド
              %option{value:"2"}リール
              %option{value:"3"}ルアー用品
              %option{value:"4"}ウエア
              %option{value:"5"}釣り糸/ライン
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}自転車本体
              %option{value:"2"}ウエア
              %option{value:"3"}パーツ
              %option{value:"4"}アクセサリー
              %option{value:"5"}バッグ
              %option{value:"6"}工具/メンテナンス
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ランニング
              %option{value:"2"}ウォーキング
              %option{value:"3"}ヨガ
              %option{value:"4"}トレーニング用品
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ウェア
              %option{value:"2"}シューズ
              %option{value:"3"}グローブ
              %option{value:"4"}バット
              %option{value:"5"}アクセサリー
              %option{value:"6"}防具
              %option{value:"7"}演習機器
              %option{value:"8"}記念グッズ
              %option{value:"9"}応援グッズ
              %option{value:"10"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ウェア
              %option{value:"2"}シューズ
              %option{value:"3"}ボール
              %option{value:"4"}アクセサリー
              %option{value:"5"}記念グッズ
              %option{value:"6"}応援グッズ
              %option{value:"7"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ラケット（硬式用）
              %option{value:"2"}ラケット（軟式用）
              %option{value:"3"}ウェア
              %option{value:"4"}シューズ
              %option{value:"5"}ボール
              %option{value:"6"}アクセサリー
              %option{value:"7"}記念グッズ
              %option{value:"8"}応援グッズ
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ボード
              %option{value:"2"}バインディング
              %option{value:"3"}ブーツ（男性用）
              %option{value:"4"}ブーツ（女性用）
              %option{value:"5"}ブーツ（子ども用）
              %option{value:"6"}ウエア/装備（男性用）
              %option{value:"7"}ウエア/装備（女性用）
              %option{value:"8"}ウエア/装備（子ども用）
              %option{value:"9"}アクセサリー
              %option{value:"10"}バッグ
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.9
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}板
              %option{value:"2"}ブーツ（男性用）
              %option{value:"3"}ブーツ（女性用）
              %option{value:"4"}ブーツ（子ども用）
              %option{value:"5"}ビンディング
              %option{value:"6"}ウエア（男性用）
              %option{value:"7"}ウエア（女性用）
              %option{value:"8"}ウエア（子ども用）
              %option{value:"9"}ストック
              %option{value:"10"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.10
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ダンス/バレエ
              %option{value:"2"}サーフィン
              %option{value:"3"}バスケットボール
              %option{value:"4"}バドミントン
              %option{value:"5"}バレーボール
              %option{value:"6"}スケートボード
              %option{value:"7"}陸上競技
              %option{value:"8"}ラグビー
              %option{value:"9"}アメリカンフットボール
              %option{value:"10"}ボクシング
              %option{value:"11"}ボウリング
              %option{value:"12"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.11
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}テント/タープ
              %option{value:"2"}ライト/ランタン
              %option{value:"3"}寝袋/寝具
              %option{value:"4"}テーブル/チェア
              %option{value:"5"}ストーブ/コンロ
              %option{value:"6"}調理器具
              %option{value:"7"}食器
              %option{value:"8"}登山用品
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.9.12
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}旅行用品
              %option{value:"2"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ピアス
              %option{value:"2"}イヤリング
              %option{value:"3"}ネックレス
              %option{value:"4"}ブレスレット
              %option{value:"5"}リング
              %option{value:"6"}チャーム
              %option{value:"7"}ヘアゴム
              %option{value:"8"}アンクレット
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}バッグ（女性用）
              %option{value:"2"}バッグ（男性用）
              %option{value:"3"}財布（女性用）
              %option{value:"4"}財布（男性用）
              %option{value:"5"}ファッション雑貨
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}アクセサリー（男性用）
              %option{value:"2"}時計（女性用）
              %option{value:"3"}時計（男性用）
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}キッチン用品
              %option{value:"2"}家具
              %option{value:"3"}文房具
              %option{value:"4"}アート/写真
              %option{value:"4"}アロマ/キャンドル
              %option{value:"4"}フラワー/ガーデン
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}クラフト/布製品
              %option{value:"2"}おもちゃ/人形
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ファッション雑貨
              %option{value:"2"}スタイ/よだれかけ
              %option{value:"3"}外出用品
              %option{value:"4"}ネームタグ
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}各種パーツ
              %option{value:"2"}生地/糸
              %option{value:"3"}壁紙/パターン
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.10.8
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}Ingress
              %option{value:"2"}クリエイターズ宇宙兄弟
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.11.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}男性アイドル
              %option{value:"2"}女性アイドル
              %option{value:"3"}韓流
              %option{value:"4"}国内アーティスト
              %option{value:"5"}海外アーティスト
              %option{value:"6"}音楽フェス
              %option{value:"7"}声優/アニメ
              %option{value:"8"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.11.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}サッカー
              %option{value:"2"}野球
              %option{value:"3"}テニス
              %option{value:"4"}格闘技/プロレス
              %option{value:"5"}相撲/武道
              %option{value:"6"}ゴルフ
              %option{value:"7"}バレーボール
              %option{value:"8"}バスケットボール
              %option{value:"9"}モータースポーツ
              %option{value:"10"}ウィンタースポーツ
              %option{value:"11"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.11.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ミュージカル
              %option{value:"2"}演劇
              %option{value:"3"}伝統芸能
              %option{value:"4"}落語
              %option{value:"5"}お笑い
              %option{value:"6"}オペラ
              %option{value:"7"}サーカス
              %option{value:"8"}バレエ
              %option{value:"9"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.11.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}声優/アニメ
              %option{value:"2"}キッズ/ファミリー
              %option{value:"3"}トークショー/講演会
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.11.5
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}邦画
              %option{value:"2"}洋画
              %option{value:"3"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.11.6
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}遊園地/テーマパーク
              %option{value:"2"}美術館/博物館
              %option{value:"3"}スキー場
              %option{value:"4"}ゴルフ場
              %option{value:"5"}フィットネスクラブ
              %option{value:"6"}プール
              %option{value:"7"}ボウリング
              %option{value:"8"}水族館
              %option{value:"9"}動物園
              %option{value:"10"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.11.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ショッピング
              %option{value:"2"}レストラン/食事券
              %option{value:"3"}フード/ドリンク券
              %option{value:"4"}宿泊券
              %option{value:"5"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.12.1
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}国内自動車本体
              %option{value:"2"}外国自動車本体
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.12.2
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}タイヤホイールセット
              %option{value:"2"}タイヤ
              %option{value:"3"}ホイール
              %option{value:"4"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.12.3
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}サスペンション
              %option{value:"2"}ブレーキ
              %option{value:"3"}外装、エアロパーツ
              %option{value:"4"}ライト
              %option{value:"5"}内装品、シート
              %option{value:"6"}ステアリング
              %option{value:"7"}マフラー・排気系
              %option{value:"8"}エンジン、過給器、冷却装置
              %option{value:"9"}クラッチ、ミッション、駆動系
              %option{value:"10"}電装品
              %option{value:"11"}補強パーツ
              %option{value:"12"}汎用パーツ
              %option{value:"13"}外国自動車用パーツ
              %option{value:"14"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.12.4
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}車内アクセサリー
              %option{value:"2"}カーナビ
              %option{value:"3"}カーオーディオ
              %option{value:"4"}車外アクセサリー
              %option{value:"5"}メンテナンス用品
              %option{value:"6"}チャイルドシート
              %option{value:"7"}ドライブレコーダー
              %option{value:"8"}レーダー探知機
              %option{value:"9"}カタログ/マニュアル
              %option{value:"10"}セキュリティ
              %option{value:"11"}ETC
              %option{value:"12"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.12.6
            %select{class:"defaultCategory 2 12 6"}
              %option{value:""}---
              %option{value:"1"}タイヤ
              %option{value:"2"}マフラー
              %option{value:"3"}エンジン、冷却装置
              %option{value:"4"}カウル、フェンダー、外装
              %option{value:"5"}サスペンション
              %option{value:"6"}ホイール
              %option{value:"7"}シート
              %option{value:"8"}ブレーキ
              %option{value:"9"}タンク
              %option{value:"10"}ライト、ウィンカー
              %option{value:"11"}チェーン、スプロケット、駆動系
              %option{value:"12"}メーター
              %option{value:"13"}電装系
              %option{value:"14"}ミラー
              %option{value:"15"}外国オートバイ用パーツ
              %option{value:"16"}その他
            %i.fa.fa-chevron-down.iconCategory
          .item_main_center-cell4-right_select3.12.7
            %select{class:"defaultCategory"}
              %option{value:""}---
              %option{value:"1"}ヘルメット/シールド
              %option{value:"2"}バイクウエア/装備
              %option{value:"3"}アクセサリー
              %option{value:"4"}メンテナンス
              %option{value:"5"}カタログ/マニュアル
              %option{value:"6"}その他
            %i.fa.fa-chevron-down.iconCategory

          .item_main_center-cell4-right_selectSize
            %ul
              %li.left サイズ
              %li.right_hissu 必須
            %select{class:"default"}
              %option{value:""}---
              %option{value:"1"}XXS以下
              %option{value:"2"}XS(SS)
              %option{value:"3"}S
              %option{value:"4"}M
              %option{value:"5"}L
              %option{value:"6"}XL(LL)
              %option{value:"7"}2XL(3L)
              %option{value:"8"}3XL(4L)
              %option{value:"9"}4XL(5L)以上
              %option{value:"10"}FREE SIZE
            %i.fa.fa-chevron-down



          .item_main_center-cell4-right_selectBrand
            %ul
              %li.left ブランド
              %li.right_nini 任意
            %input{placeholder:"例）シャネル"}



          .item_main_center-cell4-right_selectBox
            %ul
              %li.left 商品の状態
              %li.right_hissu 必須
            %select{class:"default"}
              %option{value:""}---
              %option{value:"1"}新品、未使用
              %option{value:"2"}未使用に近い
              %option{value:"3"}目立った傷や汚れなし
              %option{value:"4"}やや傷や汚れなし
              %option{value:"5"}傷や汚れあり
              %option{value:"6"}全体的に状態が悪い
            %i.fa.fa-chevron-down
            

      .item_main_center-cell5
        .item_main_center-cell5-left
          %h5 配送について
          %a{href:"http://urx.space/W3Wr"} ?
        .item_main_center-cell5-right
          .item_main_center-cell5-right_select1.select1
            %ul
              %li.left 配送料の負担
              %li.right_hissu 必須
            %select{id:'drive',class:"default"}
              %option{value:""}---
              %option{value:"1"}送料込み(出品者負担)
              %option{value:"2"}着払い(購入者負担)
            %i.fa.fa-chevron-down
          .item_main_center-cell5-right_selectBox.driveWay
            %ul
              %li.left 発送の方法
              %li.right_hissu 必須
            %select.default
              %option{value:""}---
              %option{value:"1"}未定
              %option{value:"2"}らくらくメルカリ便
              %option{value:"3"}ゆうメール
              %option{value:"4"}レターパック
              %option{value:"5"}普通郵便(定形、定形外)
              %option{value:"6"}クロネコヤマト
              %option{value:"7"}ゆうパック
              %option{value:"8"}クリックポスト
              %option{value:"9"}ゆうポケット
            %i.fa.fa-chevron-down
          .item_main_center-cell5-right_selectBox
            %ul
              %li.left 発送元の地域
              %li.right_hissu 必須
            %select.default
              %option{value:""}---
              %option{value:"1"}北海道
              %option{value:"2"}青森県
              %option{value:"3"}岩手県
              %option{value:"4"}宮城県
              %option{value:"5"}秋田県
              %option{value:"6"}山形県
              %option{value:"7"}福島県
              %option{value:"8"}茨城県
              %option{value:"9"}栃木県
              %option{value:"10"}群馬県
              %option{value:"11"}埼玉県
              %option{value:"12"}千葉県
              %option{value:"13"}東京都
              %option{value:"14"}神奈川県
              %option{value:"15"}新潟県
              %option{value:"16"}富山県
              %option{value:"17"}石川県
              %option{value:"18"}福井県
              %option{value:"19"}山梨県
              %option{value:"20"}長野県
              %option{value:"21"}岐阜県
              %option{value:"22"}静岡県
              %option{value:"23"}愛知県
              %option{value:"24"}三重県
              %option{value:"25"}滋賀県
              %option{value:"26"}京都府
              %option{value:"27"}大阪府
              %option{value:"28"}兵庫県
              %option{value:"29"}奈良県
              %option{value:"30"}和歌山県
              %option{value:"31"}鳥取県
              %option{value:"32"}島根県
              %option{value:"33"}岡山県
              %option{value:"34"}広島県
              %option{value:"35"}山口県
              %option{value:"36"}徳島県
              %option{value:"37"}香川県
              %option{value:"38"}愛媛県
              %option{value:"39"}高知県
              %option{value:"40"}福岡県
              %option{value:"41"}佐賀県
              %option{value:"42"}長崎県
              %option{value:"43"}熊本県
              %option{value:"44"}大分県
              %option{value:"45"}宮崎県
              %option{value:"46"}鹿児島県
              %option{value:"47"}沖縄県
              %option{value:"48"}未定
            %i.fa.fa-chevron-down

          .item_main_center-cell5-right_selectBox
            %ul
              %li.left 発送までの日数
              %li.right_hissu 必須
            %select.default
              %option{value:""}---
              %option{value:"1"}１〜２日で発送
              %option{value:"2"}２〜３日で発送
              %option{value:"2"}４〜７日で発送
            %i.fa.fa-chevron-down

      .item_main_center-cell6
        .item_main_center-cell6-center
          .item_main_center-cell6-center_left
            %h5 販売価格(300〜9,999,999)
            %a{href:"http://urx.space/W3Wr"} ?
          .item_main_center-cell6-center_right
            .item_main_center-cell6-center_right_top
              %ul
                %li.left 価格
                %li.left.right_hissu 必須
                %input{placeholder:"例）300",id:"price"}
                %li.right ¥
            .item_main_center-cell6-center_right_main
              .left 販売手数料(10%)
              #rightUp -
            .item_main_center-cell6-center_right_bottom
              .left 販売利益
              %h2#rightDown -
      
      
      .item_main_center-cell7
        .item_main_center-cell7-center
          %p
            %a{href:"https://www.mercari.com/jp/help_center/getting_started/prohibited_items/"}禁止されている出品
            、
            %a{href:"https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/"}行為
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            %a{href:"https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/"}偽ブランドの販売
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            %a{href:"https://www.mercari.com/jp/seller_terms/"}加盟店規約
            に同意したことになります。
          %input{type:"submit",value:"出品する",class:"go"}
          %input{type:"button",value:"もどる",onclick:"history.back()",class:"back"}
  .item_bottom
    %p.item_bottom_top
      %a{href:"https://www.mercari.com/jp/privacy/"}プライバシーポリシー
      %a{href:"https://www.mercari.com/jp/tos/"}メルカリ利用規約
      %a{href:"https://www.mercari.com/jp/tokutei/"}特定商取引に関する表記
    %a{href:"https://www.mercari.com/jp/"}
      = image_tag 'http://u0u0.net/YHVI',width:'80px',class:"item_bottom_icon"
    %p.item_bottom_last © 2019 Mercari

        
