%section.item-details-box
  %h1.item-name
    商品名
  %p
    商品定型文
  .item-main-details
    .item-main-details-photo
    .item-main-details-table
  
  .item-price-box
    %span.item-price
    %span.item-tax
    %span.item-shipping-fee

  %a

  .item-sentence
    %p.item-sentence-inner

  .item-buttons-box
    .item-button-left
    .item-button-right
  



%ul.item-link-prev-next

.social-media-link-box
  .social-media-box



.user-profiling-items
  %section.item-box-user-related

  %section.item-box-brand-related

