.header-secound
  .header-secound__logo
    = link_to "#" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", class: 'header-secound__logo__icon'
  .header-secound__signup-bar
    %ol.header-secound__signup-bar__stepber
      %li.header-secound__signup-bar__stepber--active
        会員情報
        .bubble-first
      %li.header-secound__signup-bar__stepber--active
        電話番号認証
        .bubble-secound
      %li.header-secound__signup-bar__stepber--yet
        お届け先住所入力
        .bubble-third
      %li.header-secound__signup-bar__stepber--yet
        支払い方法
        .bubble-force
      %li.header-secound__signup-bar__stepber--end
        完了
        .bubble-fifth