%li.tab-menu__content__lists-list
  = link_to "#" do
    %figure
      = image_tag "mercari_profile.png"
    .tab-menu__content__lists-body
      %p 事務局から個別メッセージ「《総額50万円分のポイント♪》TikTok「#メルカリコラボ」キャンペーンスタート！」
      %time
        = fa_icon "clock-o", class:"icon"
        %span 4時間前
    = fa_icon "angle-right", class:"icon"
