=render partial: 'items/header'
.mypage_pankuzu
  - breadcrumb :mypage_profile
  = breadcrumbs  separator: " 　&rsaquo;　 "
.mypage
  =render partial: 'left_navi',locals: { left_navi: 'profile' }
  =render partial: 'profileRight'
=render partial: 'items/footer'
