.bold{
  font-weight: 600;
}

.buy-all-container-box{
  background-color: #f5f5f5;
}

img{
  vertical-align: middle;
}
h3{
  font-size: 22px;
}

.buy-container-box{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
  h2{
    margin: 0;
    padding: 16px;
    text-align: center;
    font-size: 22px;
  }
  .buy-content-box{
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
    text-align: center;
    width: inherit;
    // height: 780px;
  }
  .buy-content-box{
    margin: 0;
    text-align: center;
    > .buy-content-box-inner{
      display: flex;
      flex-wrap: wrap;
      }
    .buy-content-box-inner{
      max-width: 320px;
      margin: 0 auto;
      .buy-content-photo{
        width: 64px;
      }
      .buy-content-name{
        width: calc(100% - 80px);
        margin: 0 0 0 16px;
        text-align: left;
      }
      .buy-form-box{
        width: 100%;
        p{
          margin: 8px 0 0;
          line-height: 1.5;
        }
        .buy-content-price-ja{
          margin: 8px 0 0;
          line-height: 1.5;
          font-size: 22px;
          .buy-content-fee{
            margin: 0 0 0 8px;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .buy-content-accordion-box{
          margin: 16px 0 0;
        }
        .buy-content-accordion-box.not-have{
          background-color: #ccc;
          .buy-content-accordion-toggle{
            position: relative;
            padding: 16px;
            border: 1px solid #ccc;
          }
          .buy-content-accordion-toggle.not-have{
            cursor: default;
            font-size: 14px;
          }
        }
        .buy-content-price-table{
          display: table;
          border-collapse: collapse;
          width: 100%;
          .buy-content-proce-row.bold{
            display: table-row;
            border: 0;
            font-size: 18px;
          }
          .buy-content-price-cel{
            display: table-cell;
            padding: 16px 0;
            text-align: right;
            &:first-child{
              text-align: left;
            }
            span{
              font-size: 28px;
            }
          }
        }
        .buy-error-text{
          color: red;
          font-size: 14px;
        }
      }
    }
    .btn-red{
      margin: 8px 0 0;
    }
    .button-default{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      text-align: center;
      &:disabled{
        border: 1px solid #888;
        background-color: #888;
        color: #fff;
      }
    }
    .buy-content{
      margin: 40px 0 0;
      border-top: 1px solid #f5f5f5; 
      &:last-of-type{
        padding: 24px 12.5% 40px;
      }
    }
    .buy-user-info{
      padding: 24px 12.5% 0;
      text-align: left;
      .buy-content-box-inner{
        max-width: 320px;
        margin: 0 auto;
      }
      h3{
        font-size: 14px;
        &:first-child{
          margin: 0;
        }
      }
      adress{
        display: block;
      }
      .buy-user-info-details{
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 1.4;
        text-align: inherit;
      }
      .buy-user-info-fix{
        display: block;
        text-align: right;
        text-decoration: none;
        color: #0099e8;
        span{
          vertical-align: middle;
          font-size: 14px;
        }
      }
    }
  }
}
.item_bottom{
  background-color: #f5f5f5;
}